<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>ERA Web Logs</display-name>
	<description>ERA Web Logs provides access to log files form your browser.</description>
	<servlet>
		<servlet-name>defaultServlet</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>globalXsltFile</param-name>
			<param-value>/var/www/sites/era/conf/eralogs_global.xsl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>defaultServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>ERA Logs Security</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>eraadmin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Basic Authentication Area</realm-name>
	</login-config>
	<security-role>
		<role-name>eraadmin</role-name>
	</security-role>
</web-app>
